
CoreDataIntroDemo.xcodeproj/xcuserdata/bita.xcuserdatad/xcschemes/xcschememanagement.plist

CoreDataIntroDemo.xcodeproj/xcuserdata/bita.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

CoreDataIntroDemo.xcodeproj/xcuserdata/bita.xcuserdatad/xcschemes/CoreDataIntroDemo.xcscheme
